.inputs-field {
  display: flex;
  gap: var(--pico-spacing);
  align-items: start;
  margin-bottom: var(--pico-spacing);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100vh;
  padding: 1rem;
  border-right: 1px solid gray;
}

.sidebar a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

body {
  padding-left: 200px; 
}

section > h2 {
  position: sticky;
  top: 0;
  background: var(--pico-background-color);
  margin: 0 -1rem;      
  padding: 0.75rem 1rem;
  z-index: 10;          
  border-bottom: 1px solid var(--pico-muted-border-color);
}

